.App {
  text-align: center;
  cursor: url('../public/favicon-32x32.png'), auto;  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes egg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#img{  
  width:400px;
  animation: egg-spin infinite 5s ease-in-out;
  border-radius: 50%;  
}

h1, body{ 
  font-family: 'Indie Flower', cursive;
}

#img2 {
  position: relative;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;    
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(50px); }
100% { transform: translateY(0); }}

